html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 60px auto;
  padding: 0 20px;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.content {
  width: 60%;
  max-width: 800px;
  min-width: 200px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 40px;
  align-items: stretch;
  justify-content: center;
}

.head-row {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
}

.column {
  flex: 1;
  position: relative;
}

.head-column {
  flex: 100%;
}

.profile-photo {
  position: absolute; /* Вырываем картинку из потока, чтобы она заполнила родительский .column */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover; /* Теперь браузер без проблем обрежет фото снизу/сверху под высоту текста! */
  object-position: center;
}

.links a {
  color: #0066cc;
  text-decoration: none;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .column {
    flex: none !important;
    width: 100% !important;
  }

  .profile-photo {
    position: relative !important;
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
  }
  .content {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
